  {% include 'menu.html' %}

  <html>
<head>

<title>📜 Historia   </title>

      
</head>
<body>
  

 <h1>📜 Historia </h1>


 <h2>
        Arcane é uma série de animação baseada no universo do jogo League of Legends,
        criada por Riot Games. A série se passa na cidade de Piltover e em sua vizinha,
        Zaun, e explora as origens de vários personagens icônicos do jogo, como Jinx e Vi.
        A trama gira em torno de temas como poder, desigualdade social e a luta entre o bem
        e o mal. Arcane foi lançada em 2021 e recebeu aclamação da crítica por sua animação
        impressionante, narrativa envolvente e desenvolvimento de personagens profundos.
 </h2>

</body>
<style>
body {
    background-image: url("https://w.wallhaven.cc/full/gp/wallhaven-gpyo3e.png");
    background-position: center;
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
}
h2 {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    line-height: 1.6;
}

</style>



  </html>
